<!--
  Generated template for the AddParcelPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>Add Parcel</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
    <form [formGroup]="createParcelForm" >
  <ion-list>
    
      <ion-item>
        <ion-label floating>Sender Phone</ion-label>
        <ion-input type="tel" [value]="senderNumber" [ngModel] formControlName="senderNumber"></ion-input>
      </ion-item>
      <ion-item *ngIf="customerChecked">
        <ion-label floating>Sender Name</ion-label>
        <ion-input  type="text" [value]="senderName" [ngModel] formControlName="senderName" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>Receiver Phone</ion-label>
        <ion-input type="tel" [value]="receiverNumber" [ngModel]  formControlName="receiverNumber"></ion-input>
      </ion-item>

      <ion-item *ngIf="customerChecked">
        <ion-label floating>Receiver Name</ion-label>
        <ion-input type="text" [value]="receiverName" [ngModel] formControlName="receiverName"></ion-input>
      </ion-item>

      <ion-item *ngIf="customerChecked">
        <ion-label><p>(Nairobi)</p>Destination</ion-label>
        <ion-select interface="action-sheet" [ngModel] formControlName="routeId">
          <ion-option *ngFor="let route of routes" value="{{route.id}}">{{route.name}} </ion-option>
        </ion-select>
      </ion-item>

      <ion-item *ngIf="customerChecked">
        <ion-label>Collection</ion-label>
        <ion-select interface="action-sheet" [ngModel] formControlName="collectionId">
          <ion-option *ngFor="let collection of collections" value="{{collection.id}}">{{collection.name}}</ion-option>

        </ion-select>
      </ion-item>
    

  </ion-list>
</form>
</ion-content>
<ion-footer>
  <button ion-button full large *ngIf="!customerChecked" (click)="checkCustomer()">Check</button>
  <button ion-button full large color="secondary" *ngIf="customerChecked" (click)="prepareParcel()" [disabled]="!createParcelForm.valid" >Create</button>
</ion-footer>