<!--
  Generated template for the ReceiveViewPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Receiving</ion-title>
  </ion-navbar>

</ion-header>

<ion-content>
  <parcel-list 
      (onParcelSelected)="parcelSelected($event)" 
      (onParcelUnselected)="parcelUnselected($event)" 
        [DetailView]="DetailView" 
        [ParcelData]="ParcelData"
        [SelectedParcel]="SelectedParcel" 
        [type]="'short'" 
        [hasCheckbox]="true">
  </parcel-list>
</ion-content>
<ion-footer>
      <div class="top-footer">
          <ion-chip color="light"><ion-label >{{totalParcelsSelected}} parcels</ion-label></ion-chip>
          <ion-chip color="light"><ion-label >{{totalItemsSelected}} items</ion-label></ion-chip>
      </div>
      <button ion-button block full large color="secondary">Confirm</button>
</ion-footer>