parcel-list {

}

ion-checkbox{
}

.checkbox .checkbox-icon {
    border-radius: 2px;
    position: relative;
    width: 50px;
    height: 50px;
    border-color: #dedede;
    background-color: #ffffff;
}

.checkbox .checkbox-checked .checkbox-inner {
    left: 16px;
    top: 5px;
    position: absolute;
    width: 14px;
    height: 27px;
    border-color: #427feb;
    border-top-width: 0;
    border-right-width: 4px;
    border-bottom-width: 4px;
    border-left-width: 0;
}

.checkbox-md .checkbox-checked {
    border-color: #fafafb;
    background-color: #f9f9f9;
}

.card {
    margin-right: 0px;
    margin-left: 0px;
    width: 100%;
}