<!--
  Generated template for the ReceiveDetailViewPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Parcel Number 001</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <parcel-item-list
      (onParcelItemSelected)="parcelItemSelected($event)" 
      (onParcelItemUnselected)="parcelItemUnselected($event)"
      [ParcelItems]="ParcelItems"
      [SelectedItems]="SelectedItems"
      >
  </parcel-item-list>
</ion-content>
