<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="page-home">
  <ion-grid>
    <ion-row>
      <ion-col (click)="goto('NewParcelTab')" text-center col-12 color="primary" class="gridMenu">
        <h4 padding margin>RECORD</h4>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col col-12 class="gridMenu" (click)="goto('DispatchView')" text-center>
        <h4 padding margin>DISPATCH</h4>
      </ion-col>
    </ion-row>
  
    <ion-row>
      <ion-col col-12 class="gridMenu" text-center (click)="goto('ReceiveView')">
        <h4 padding margin>RECEIVE</h4>
      </ion-col>
    </ion-row>
    
    <ion-row>
      <ion-col col-12 class="gridMenu" (click)="goto('CollectionView')">
        <div color="primary" text-center>
          <h4 padding margin> COLLECTION</h4>
        </div>
      </ion-col>
    </ion-row> 
  </ion-grid>
</ion-content>