.page-home {
--background-color: #2b7081;
}



.gridMenu{
    border: 3px #ffffff solid;
    background-color: #0072BB;
    height: 100px;
    width: 50px;
    border-radius: 4px;
    color: #FFFFFF;
    
}