<!--
  Generated template for the RecentParcelTabPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Recent Parcel</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <ion-list>
        <ion-item (click)="goto('AddParcel')">
          <ion-thumbnail item-start>
            PN 001
          </ion-thumbnail>
          <h2>Nairobi - Mombasa</h2>
          <p>10 items</p>
          <p>SN: Ahmed</p>
          <p>RN: Ali</p>
          <button ion-button clear item-end>
              <ion-icon name="create"></ion-icon>
          </button>
        </ion-item>
        <ion-item>
            <ion-thumbnail item-start>
              PN 001
            </ion-thumbnail>
            <h2>Nairobi - Mombasa</h2>
            <p>10 items</p>
            <p>SN: Ahmed</p>
            <p>RN: Ali</p>
            <button ion-button clear item-end>
                <ion-icon name="create"></ion-icon>
            </button>
          </ion-item>
          <ion-item>
              <ion-thumbnail item-start>
                PN 001
              </ion-thumbnail>
              <h2>Nairobi - Mombasa</h2>
              <p>10 items</p>
              <p>SN: Ahmed</p>
              <p>RN: Ali</p>
              <button ion-button clear item-end>
                  <ion-icon name="create"></ion-icon>
              </button>
            </ion-item>
            <ion-item>
                <ion-thumbnail item-start>
                  PN 001
                </ion-thumbnail>
                <h2>Nairobi - Mombasa</h2>
                <p>10 items</p>
                <p>SN: Ahmed</p>
                <p>RN: Ali</p>
                <button ion-button clear item-end>
                    <ion-icon name="create"></ion-icon>
                </button>
              </ion-item>
              <ion-item>
                  <ion-thumbnail item-start>
                    PN 001
                  </ion-thumbnail>
                  <h2>Nairobi - Mombasa</h2>
                  <p>10 items</p>
                  <p>SN: Ahmed</p>
                  <p>RN: Ali</p>
                  <button ion-button clear item-end>
                      <ion-icon name="create"></ion-icon>
                  </button>
                </ion-item>
      </ion-list>
</ion-content>
