<!-- Generated template for the ParcelItemListComponent component -->
<ion-list>
  <ion-grid>
    <ng-container *ngIf="ParcelItems">
    <div *ngIf="ParcelItems?.length>0">
      <ion-card *ngFor="let item of ParcelItems">
        <ion-card-content>
          <ion-row>
            <ion-col col-10>
              <ion-item>
                <span>Description</span>
                <p text-wrap right>{{item.description}}</p>

                <span>Quanity</span>
                <p>{{item.quantity}}</p>
                <span>Amount</span>
                <p>{{item.amount}}</p>
              </ion-item>
            </ion-col>
            <ion-col col-2>
              <ion-checkbox (ionChange)="itemSelected($event,item)" checked={{isSelected(item.id)}}></ion-checkbox>
            </ion-col>
          </ion-row>
        </ion-card-content>
      </ion-card>
    </div>
  </ng-container>

    <div *ngIf="ParcelItems?.length==0">
      <ion-item padding>
        <p margin>No Items found </p>
      </ion-item>

    </div>
  </ion-grid>
</ion-list>