page-add-parcel-item {

}

.btnCancel{
    background-color: black;
}
.item-header{
    padding: 5px;
    background-color: rgb(245, 245, 245);
    border-top: gray 3px groove;
}
.item-row{
    padding-bottom: 5px;
    padding-top: 5px;
    border-bottom: 2px solid rgb(238, 236, 236);
    }