<!--
  Generated template for the CollectionDetailViewPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>CollectionDetailView</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
   
</ion-content>
