<!--
  Generated template for the DispatchFinalViewPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Dispatch</ion-title>
  </ion-navbar>

</ion-header>


<ion-content margin-top>
  <form #form="ngForm">
  <ion-list>
    <ion-item>
        <ion-label icon-left><ion-icon name="bus"></ion-icon> Carrier</ion-label>
        <ion-select interface="action-sheet" ngModel name="carrierId">
          <ion-option *ngFor="let carrier of carriers" value="{{carrier.id}}">{{carrier.name}} {{carrier.code}}</ion-option>
        </ion-select>
    </ion-item>
    
    <ion-item>
          <ion-label icon-left><ion-icon name="man"></ion-icon> Transit User</ion-label>
          <ion-select interface="action-sheet" ngModel name="transitAppUserId">
            <ion-option *ngFor="let user of transitUsers" value="{{user.appUser.id}}">{{user.appUser.fullname}}</ion-option>
          </ion-select>
      </ion-item>
    </ion-list>
  </form>
</ion-content>
<ion-footer>
   
    <button ion-button block full large color="secondary" (click)="prepareDispatch(form.value)" icon-right>
      SUBMIT
      <ion-icon name="send"></ion-icon>
    </button>

</ion-footer>