<!--
  Generated template for the CollectionViewPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>CollectionView</ion-title>
  </ion-navbar>
  <ion-searchbar (ionInput)="getItems($event)" [animated]="true"></ion-searchbar>

</ion-header>


<ion-content >
    
    <ion-list>
      <ion-item *ngFor="let item of items">
        {{ item }}
      </ion-item>
    </ion-list>
    <parcel-list [DetailView]="DetailView" [ParcelData]="ParcelData" [type]="'short'"></parcel-list>
</ion-content>
