
<ion-tabs tabsPlacement="top">
    <ion-tab  [root]="newParcelTabRoot"  tabIcon="create" ></ion-tab>
    <ion-tab  [root]="recentParcelTabRoot"  tabIcon="time" color="secondary"></ion-tab>
</ion-tabs>
